Django==5.2.5
dj-database-url==2.3.0
psycopg2-binary==2.9.10
gunicorn==23.0.0
whitenoise==6.8.2
Pillow==11.3.0
qrcode==8.0
django-allauth==65.4.1
requests==2.32.3
python-dotenv==1.0.1
PyJWT
cryptography
